
  h1{
    text-align: center;
  }

header {
  background-color: white;
  height:50px;
  width:100%;

}
nav{
  background-color: white;
  height:50px;
  width:100%;
  text-align: center;
}


main{
  background-color: white;
  height:500px;
  width:100%;
  color: black;
}
aside{
  background-color: white;
  height:500px;
  width:0%;
}

footer{
  background-color: white;
  height:100px;
  width:100%;
}

#mainwrapper{
  display:flex;
  flex-direction: row;
}

#wrapper{
width: 100%;
  margin-left: auto;
  margin-right: auto;

}

/*
#boxwrapper {
height:50%;
width: 100%;
background-color:grey;
display: flex;
}
#bottomcenter{
  height:50%;
  width:100%;
  background-color: lightblue;
}
#boxleft{
  height:100%;
  width:50%;
  background-color: red;
}
#boxright{
  height:100%;
  width:50%;
  background-color: black;
}

*/
@media only screen and (max-width: 600px) {

  #mainwrapper{
    display:flex;
    flex-direction: column;
  }
main{
  width: 100%;
}
aside{
width:  100%;
  }
}
a{
  text-decoration: none;
  color: black;
}

.btn{
  padding: 5px 10px;
  border: none;
  background: white;
  transition: .3s;
  color: black;
}
.btn:hover{
  background: black;
color: white;
}

 p{
   padding: 20px;
   font-family: arial;
   line-height: 1.5em; /*rad avstånd*/
 }

 .box {
   background-image: url(../<img/chassi.jpg);
   padding: 100px;
   margin: 100px;
}
