  h1{
    background-color: red;

  }

header {
  background-color: green;
  height:100px;
  width:600px;

}
nav{
  background-color: orange;
  height:100px;
  width:600px;
}


main{
  background-color: turquoise;
  height:500px;
  width:500px;
}
aside{
  background-color: red;
  height:500px;
  width:100px;
  background-color: yellow;
  height:500px;
  width:100px;
}

footer{
  background-color: blue;
  height:100px;
  width:600px;
}

#mainwrapper{
  display:flex;
}

#wrapper{
width: 600px;
  margin-left: auto;
  margin-right: auto;

}
